In [8]:
#importing vital libarries
import pandas as pd
import psycopg2
import requests

In [5]:
# Define Data Sources
api_url='https://data.worldbank.org/'
csv_file='data.csv'
conn = psycopg2.connect(
    host="localhost",
    port=5432,
    database="openstreetmap",
    user="public",
    password="",
)

In [19]:
#extracting data from api
response =requests.get(api_url)
data_api=requests.json()

In [20]:
#extracting data from csv
data=pd.read_csv('data.csv')

In [21]:
#extracting data from the database
cur=con.cursor()
cur.execute('SELECT * FROM sales')
data_db=cur.fetchall()
cur.close()
con.close()

### Load Data into the Target System

In [22]:
con=psycopg2.connect(conn)
cur=con.curseor()
#laod the api data
for row in api_data:
    cur.execute('INSERT INTO SALES1(Name,id) VALUES (christine,34)',(row['columns1'],row['columns2']))
#laod the csv data
for index,row in data.iterrows():
    cur.execute('INSERT INTO SALES1(Name,id) VALUES (christine,34)',(row['columns1'],row['columns2']))
#load database data
for row in data_db:
    cur.execute('INSERT INTO SALES1(Name,id) VALUES (christine,34)',(row['columns1'],row['columns2']))
    
    
con.commit()
cur.close()
conn.close()